

.allCards {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid yellow;

}

.card {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}

.card_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.card_info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    /* O overflow cria um scrool barra de rolagem */
    overflow-y: scroll;
    width: 210px;
    height: 118px;
    padding-right: 10px;
    text-align: center;
}

/* Cria a barra de rolagem ao lado do card */
.card_info::-webkit-scrollbar-thumb {
    background-color: #333;
}

/* Cria a barra de rolagem ao lado do card */
.card_info::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: gray;
}

.card_button {
    border: none;
    background-color: white;
    font-size: 20px;
    color: #b51d44;
    cursor: pointer;
}